%h1 Editing <%= singular_name.humanize %>

- form_for(@<%= singular_name %>, :url => <%= path_singular_name %>_path(@<%= singular_name %>), :method => :put) do |form|
  = render :partial => 'form', :locals => {:form => form}
  %p= form.submit 'Update'

%p
  = link_to 'Show', <%= path_singular_name %>_path(@<%= singular_name %>)
  = link_to 'Back', <%= path_plural_name %>_path
