%h1 New <%= singular_name.humanize %>

- form_for(@<%= singular_name %>, :url => <%= path_plural_name %>_path) do |form|
  = render :partial => 'form', :locals => {:form => form}
  %p= form.submit "Create"

%p= link_to 'Back', <%= path_plural_name %>_path
